
table  tr{
    border: 12px;
    background-color:darkolivegreen;
    font-family:Arial, Helvetica, sans-serif;
      line-height: normal;
    padding: 10px;
    border-spacing: 12px;
    font-size: 30px;
   overflow: auto;
}
a:hover {
  color: blue;
}

:empty {
  border: 12px snow red;
  color: black;
}
p{
  color: aqua;
  width: 20px;
  height: 80px;
}